/* style.css */

/* Style for the main container */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

h2 {
    text-align: center;
    margin-top: 20px;
}

/* Style for the checkout items */
.checkout-items {
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.checkout-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border-radius: 8px;
}

.item-info {
    flex: 1;
}

.item-info h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.item-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.item-total p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* Style for the checkout total */
.checkout-total {
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.checkout-total h3 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/* Style for the payment form */
form {
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #333;
}

.btn {
    display: block;
    width: 100px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    justify-content:baseline;
}

.btn:hover {
    background-color: #333;
}